[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/TanBaihua
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/TanBaihua
	label-Verified = -1..+1 group user/TanBaihua
	push = group user/TanBaihua
	read = group user/TanBaihua
	rebase = group user/TanBaihua
	removeReviewer = group user/TanBaihua
	submit = group user/TanBaihua
[access "refs/heads/*"]
	create = group user/TanBaihua
	push = +force group user/TanBaihua
	pushMerge = group user/TanBaihua
	read = group user/TanBaihua
[access "refs/tags/*"]
	push = group user/TanBaihua
	push = +force group user/TanBaihua
